# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
E:\SEMESTER\12\ATP-2\project\final\Pharmacy-Management-System.rar
*.tar
*.zip
